In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# show start of df
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# show end of df
school_data_complete.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
school_data_complete.describe

<bound method NDFrame.describe of        Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]>

In [4]:
# check for incomplete columns
count = school_data_complete.count()
count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [5]:
# find count of schools
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [6]:
# find total count of students

total_students = school_data_complete["Student ID"].count()
total_students

39170

In [7]:
# find district budget
total_school_budget = sum(school_data_complete["budget"].unique())
total_school_budget

24649428

In [8]:
# find district average math score
average_math_score = '{:,.2f}'.format(school_data_complete["math_score"].mean())
average_math_score

'78.99'

In [9]:
# find district average reading score
average_reading_score = '{:,.2f}'.format(school_data_complete["reading_score"].mean())
average_reading_score

'81.88'

In [10]:
# find disrtict passing math percentage
passing_math = "{0:.2%}".format((len(school_data_complete[school_data_complete["math_score"] >= 70]))/total_students)
passing_math

'74.98%'

In [11]:
# find district passing reading percentage
passing_reading = "{0:.2%}".format((len(school_data_complete[school_data_complete["reading_score"] >= 70]))/total_students)
passing_reading

'85.81%'

In [12]:
# need to convert float to int for table
#df['Passing Math'] = df['Passing Math'].replace("%","")
#df['Passing Reading'] = df['Passing Reading'].replace("%","")

In [13]:
# find overall average of math and reading percentages
    # overall_passing_rate = int(passing_math) + 1 
    # overall_passing_rate

In [14]:
# creat district summary table
#district_summary_df = pd.DataFrame({"Total Schools":total_schools,
 #                                   "Total Students":total_students,
  #                                  "Total Budget":total_school_budget,
   #                                 "Average Math Score":float(average_math_score),
    #                                "Average Reading Score":float(average_reading_score),
     #                               "Passing Math":float(passing_math),
      #                              "Passing Reading":float(passing_reading)})
                                    #"Overall Passing Rate"
#district_summary_df

In [15]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [16]:
school_type = []
total_students = []
total_school_budget = []
per_student_budget = []
average_math_score = []
average_reading_score = []
passing_math = []
passing_reading = []
overall_passing_rate = []

In [17]:
# create and clean new summary datafram
school_summary = pd.DataFrame({"School Type": school_type,
                               "Total Students": total_students,
                               "Total School Budget": total_school_budget,
                               "Per Student Budget" : per_student_budget,
                               "Average Math Score" : average_math_score,
                               "Average Reading Score" : average_reading_score,
                               'Passing Math' : passing_math,
                               'Passing Reading' : passing_reading,
                               'Overall Passing Rate' : overall_passing_rate})
school_summary

Empty DataFrame
Columns: [School Type, Total Students, Total School Budget, Per Student Budget, Average Math Score, Average Reading Score, Passing Math, Passing Reading, Overall Passing Rate]
Index: []

In [18]:
#################format_mapping={'Per Student Budget': '${:,.2f}'}

In [19]:
school_type = school_data_complete.groupby('school_name')['type'].unique()
school_summary["School Type"] = school_type

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cabrera High School,[Charter],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Figueroa High School,[District],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ford High School,[District],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Griffin High School,[Charter],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hernandez High School,[District],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Holden High School,[Charter],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Huang High School,[District],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Johnson High School,[District],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pena High School,[Charter],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rodriguez High School,[District],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shelton High School,[Charter],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thomas High School,[Charter],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wilson High School,[Charter],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wright High School,[Charter],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
total_students = school_data_complete.groupby(['school_name'])['size'].unique()
school_summary['Total Students'] = total_students
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],[4976],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cabrera High School,[Charter],[1858],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Figueroa High School,[District],[2949],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ford High School,[District],[2739],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Griffin High School,[Charter],[1468],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hernandez High School,[District],[4635],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Holden High School,[Charter],[427],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Huang High School,[District],[2917],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Johnson High School,[District],[4761],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pena High School,[Charter],[962],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rodriguez High School,[District],[3999],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shelton High School,[Charter],[1761],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thomas High School,[Charter],[1635],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wilson High School,[Charter],[2283],NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wright High School,[Charter],[1800],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
total_school_budget = school_data_complete.groupby(['school_name'])['budget'].unique()
school_summary["Total School Budget"] = total_school_budget
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],[4976],[3124928],NaN,NaN,NaN,NaN,NaN,NaN
Cabrera High School,[Charter],[1858],[1081356],NaN,NaN,NaN,NaN,NaN,NaN
Figueroa High School,[District],[2949],[1884411],NaN,NaN,NaN,NaN,NaN,NaN
Ford High School,[District],[2739],[1763916],NaN,NaN,NaN,NaN,NaN,NaN
Griffin High School,[Charter],[1468],[917500],NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
per_student_budget = total_school_budget / total_students
school_summary["Per Student Budget"] = (per_student_budget)
#school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format
school_summary.head()
# -----------------map("${:,.2f}".format.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],[4976],[3124928],[628.0],NaN,NaN,NaN,NaN,NaN
Cabrera High School,[Charter],[1858],[1081356],[582.0],NaN,NaN,NaN,NaN,NaN
Figueroa High School,[District],[2949],[1884411],[639.0],NaN,NaN,NaN,NaN,NaN
Ford High School,[District],[2739],[1763916],[644.0],NaN,NaN,NaN,NaN,NaN
Griffin High School,[Charter],[1468],[917500],[625.0],NaN,NaN,NaN,NaN,NaN

In [23]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [24]:
# pull number of students in each school
student_counts = school_data_complete["school_name"].value_counts()
student_counts.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [25]:
# groupby math scores for each school
math_score = school_data_complete.groupby(['school_name'])['math_score'].sum()
math_score

school_name
Bailey High School       383393
Cabrera High School      154329
Figueroa High School     226223
Ford High School         211184
Griffin High School      122360
Hernandez High School    358238
Holden High School        35784
Huang High School        223528
Johnson High School      366942
Pena High School          80654
Rodriguez High School    307294
Shelton High School      146796
Thomas High School       136389
Wilson High School       190115
Wright High School       150628
Name: math_score, dtype: int64

In [26]:
# groupby reading scores for each school
reading_score = school_data_complete.groupby(['school_name'])['reading_score'].sum()
reading_score

school_name
Bailey High School       403225
Cabrera High School      156027
Figueroa High School     239335
Ford High School         221164
Griffin High School      123043
Hernandez High School    375131
Holden High School        35789
Huang High School        236810
Johnson High School      385481
Pena High School          80851
Rodriguez High School    322898
Shelton High School      147441
Thomas High School       137093
Wilson High School       191748
Wright High School       151119
Name: reading_score, dtype: int64

In [27]:
# create table to hold scores for calculations
score_table = pd.DataFrame({"Students in School": student_counts,
                            "Math Scores": math_score,
                            "Reading Scores": reading_score})
score_table.head()

                      Students in School  Math Scores  Reading Scores
Bailey High School                  4976       383393          403225
Cabrera High School                 1858       154329          156027
Figueroa High School                2949       226223          239335
Ford High School                    2739       211184          221164
Griffin High School                 1468       122360          123043

In [28]:
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],[4976],[3124928],[628.0],NaN,NaN,NaN,NaN,NaN
Cabrera High School,[Charter],[1858],[1081356],[582.0],NaN,NaN,NaN,NaN,NaN
Figueroa High School,[District],[2949],[1884411],[639.0],NaN,NaN,NaN,NaN,NaN
Ford High School,[District],[2739],[1763916],[644.0],NaN,NaN,NaN,NaN,NaN
Griffin High School,[Charter],[1468],[917500],[625.0],NaN,NaN,NaN,NaN,NaN

In [29]:
# create and calculating columns in table
school_summary['Average Math Score'] = score_table["Math Scores"]/score_table["Students in School"]
school_summary['Average Math Score'] = school_summary['Average Math Score'].map("{:,.2f}".format)
school_summary['Average Reading Score'] = score_table["Reading Scores"]/score_table["Students in School"]
school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map("{:,.2f}".format)
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],[4976],[3124928],[628.0],77.05,81.03,NaN,NaN,NaN
Cabrera High School,[Charter],[1858],[1081356],[582.0],83.06,83.98,NaN,NaN,NaN
Figueroa High School,[District],[2949],[1884411],[639.0],76.71,81.16,NaN,NaN,NaN
Ford High School,[District],[2739],[1763916],[644.0],77.10,80.75,NaN,NaN,NaN
Griffin High School,[Charter],[1468],[917500],[625.0],83.35,83.82,NaN,NaN,NaN

In [30]:
percent_passing_math = school_data_complete.groupby(['school_name'])['math_score']
percent_passing_math.head()

0        79
1        61
2        60
3        58
4        84
         ..
37535    76
37536    82
37537    90
37538    69
37539    76
Name: math_score, Length: 75, dtype: int64

In [31]:
#passing_math = len(school_data_complete[school_data_complete["math_score"] >= 70])
passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [32]:
percent_passing_math = passing_math.groupby(['school_name'])['math_score'].unique()
percent_passing_math.head()

school_name
Bailey High School      [86, 89, 85, 70, 99, 80, 95, 79, 74, 77, 83, 9...
Cabrera High School     [94, 97, 83, 92, 71, 72, 70, 89, 96, 99, 84, 8...
Figueroa High School    [87, 84, 77, 93, 90, 75, 73, 91, 98, 94, 71, 9...
Ford High School        [94, 75, 84, 93, 81, 89, 88, 76, 92, 85, 82, 9...
Griffin High School     [81, 89, 85, 83, 71, 91, 73, 79, 76, 80, 92, 9...
Name: math_score, dtype: object