In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# show start of df
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# show end of df
school_data_complete.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
school_data_complete.describe

<bound method NDFrame.describe of        Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]>

In [4]:
# check for incomplete columns
count = school_data_complete.count()
count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [5]:
# find count of schools
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [44]:
# find total count of students

total_students = school_data_complete["student_name"].count()
total_students

39170

In [63]:
# find district budget
total_school_budget = school_data_complete["budget"].unique()
pd.to_numeric(total_school_budget)
total_school_budget = np.sum(total_school_budget)
total_school_budget

24649428

In [68]:
# find district average math score
average_math_score = school_data_complete["math_score"].mean()

average_math_score = '{:,.2f}'.format(average_math_score)
average_math_score

'78.99'

In [70]:
# find district average reading score
average_reading_score = school_data_complete["reading_score"].mean()

average_reading_score = '{:,.2f}'.format(average_reading_score)
average_reading_score

'81.88'

In [83]:
# find disrtict passing math percentage
passing_math = (len(school_data_complete[school_data_complete["math_score"] >= 70]))/total_students
#passing_math_per = (len(school_data_complete[school_data_complete["math_score"] >= 70]))/total_students

passing_math_per= "{0:.2%}".format(passing_math)
passing_math_per

'74.98%'

In [85]:
# find district passing reading percentage
passing_reading = (len(school_data_complete[school_data_complete["reading_score"] >= 70]))/total_students
#passing_reading_per = (len(school_data_complete[school_data_complete["reading_score"] >= 70]))/total_students

passing_reading_per = "{0:.2%}".format(passing_reading)
passing_reading_per

'85.81%'

In [89]:
# find overall average of math and reading percentages
overall_passing_rate = (passing_math + passing_reading) / 2

overall_passing_rate_per = "{0:.2%}".format(overall_passing_rate)
overall_passing_rate_per

'80.39%'

In [90]:
# create district summary table
district_summary_df = pd.DataFrame({"Total Schools":[total_schools],
                                    "Total Students":[total_students],
                                    "Total Budget":[total_school_budget],
                                    "Average Math Score":[average_math_score],
                                    "Average Reading Score": [average_reading_score],
                                    "Passing Math":[passing_math_per],
                                    "Passing Reading":[passing_reading_per],
                                    "Overall Passing Rate":[overall_passing_rate]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.99,81.88,74.98%,85.81%,0.803932

In [93]:
# drop index in dataframe
#district_summary_df = district_summary_df.set_index("Total Schools", inplace=True)
#district_summary_df

In [15]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [35]:
school_summary = school_data_complete[school_data_complete(4,7)]
school_summary.head()

TypeError: 'DataFrame' object is not callable

In [16]:
school_data_complete = school_data_complete.rename(columns={"school_name":"School Name", "type":"Type"})
school_data_complete

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,Type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [31]:
school_summary = pd.DataFrame({school_data_complete['School Name'], school_data_complete['Type']})
#school_summary = school_summary.set_index('School Name')
#school_summary = school_summary.drop_duplicates(subset=['School Name'])
school_summary

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [20]:
#################format_mapping={'Per Student Budget': '${:,.2f}'}

In [21]:
school_data_complete.head()

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,Type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [26]:
total_students = school_data_complete.groupby(['School Name'])['size'].size()
school_summary['Total Students'] = total_students
school_summary
#total_students

                 School Name      Type  Total Students
0          Huang High School  District             NaN
2917    Figueroa High School  District             NaN
5866     Shelton High School   Charter             NaN
7627   Hernandez High School  District             NaN
12262    Griffin High School   Charter             NaN
13730     Wilson High School   Charter             NaN
16013    Cabrera High School   Charter             NaN
17871     Bailey High School  District             NaN
22847     Holden High School   Charter             NaN
23274       Pena High School   Charter             NaN
24236     Wright High School   Charter             NaN
26036  Rodriguez High School  District             NaN
30035    Johnson High School  District             NaN
34796       Ford High School  District             NaN
37535     Thomas High School   Charter             NaN

In [27]:
total_school_budget = school_data_complete.groupby(['School Name'])['budget'].unique()
school_summary["Total School Budget"] = total_school_budget
school_summary.head()

                 School Name      Type  Total Students Total School Budget
0          Huang High School  District             NaN                 NaN
2917    Figueroa High School  District             NaN                 NaN
5866     Shelton High School   Charter             NaN                 NaN
7627   Hernandez High School  District             NaN                 NaN
12262    Griffin High School   Charter             NaN                 NaN

In [ ]:
per_student_budget = total_school_budget / total_students
school_summary["Per Student Budget"] = (per_student_budget)
#school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format
school_summary.head()
# -----------------map("${:,.2f}".format.

In [ ]:
# pull number of students in each school
student_counts = school_data_complete["school_name"].value_counts()
student_counts.head()

In [ ]:
# groupby math scores for each school
math_score = school_data_complete.groupby(['school_name'])['math_score'].sum()
math_score

In [ ]:
# groupby reading scores for each school
reading_score = school_data_complete.groupby(['school_name'])['reading_score'].sum()
reading_score

In [ ]:
# create table to hold scores for calculations
score_table = pd.DataFrame({"Students in School": student_counts,
                            "Math Scores": math_score,
                            "Reading Scores": reading_score})
score_table.head()

In [ ]:
# create and calculating columns in table
school_summary['Average Math Score'] = score_table["Math Scores"]/score_table["Students in School"]
school_summary['Average Math Score'] = school_summary['Average Math Score'].map("{:,.2f}".format)
school_summary['Average Reading Score'] = score_table["Reading Scores"]/score_table["Students in School"]
school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map("{:,.2f}".format)
school_summary.head()

In [ ]:
# students passing math with score of 70 or greater
passing_math_70 = school_data_complete[school_data_complete["math_score"] >= 70]
passing_math_70.head()

In [ ]:
# group schools with student number passing math
passing_math = passing_math_70.groupby(['school_name'])['math_score'].size()
passing_math

In [ ]:
# students passing reading with score of 70 or greater
passing_reading_70 = school_data_complete[school_data_complete["reading_score"] >= 70]
passing_reading_70.head()

In [ ]:
# group schools with school number passing reading
passing_reading = passing_reading_70.groupby(['school_name'])['reading_score'].size()
passing_reading

In [ ]:
# df for calculations for school summary
passing_df = pd.DataFrame({"Total Students":student_counts,
                           "Passing Math": passing_math,
                           "Passing Reading":passing_reading})
passing_df

In [ ]:
percent_passing_math = passing_df['Passing Math'] / total_students
percent_passing_reading = passing_df['Passing Reading'] / total_students
percent_passing_math

In [ ]:
school_data_complete.head()

In [ ]:
# create and clean new summary datafram
school_summary = pd.DataFrame({"School Type": school_type,
                               "Total Students": total_students,
                               "Total School Budget": total_school_budget,
                               "Per Student Budget" : per_student_budget,
                               "Average Math Score" : average_math_score,
                               "Average Reading Score" : average_reading_score,
                               'Passing Math' : passing_math,
                               'Passing Reading' : passing_reading,
                               'Overall Passing Rate' : overall_passing_rate})
school_summary