In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# show start of df
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

**District Summary**

In [2]:
# show end of df
school_data_complete.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [4]:
#school_data_complete['school_name'] = school_data_complete['school_name'].astype('|S80')

In [5]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [6]:
school_data_complete.describe

<bound method NDFrame.describe of        Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]>

In [7]:
# check for incomplete columns
count = school_data_complete.count()
count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [8]:
# find count of schools
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [9]:
# find total count of students

total_students = school_data_complete["student_name"].count()
total_students

39170

In [10]:
# find district budget
district_school_budget = school_data_complete["budget"].unique()
pd.to_numeric(district_school_budget)
district_school_budget = np.sum(district_school_budget)
district_school_budget = "${:.0f}".format(district_school_budget)

district_school_budget

'$24649428'

In [11]:
# find district average math score
average_math_score = school_data_complete["math_score"].mean()

average_math_score = '{:,.2f}'.format(average_math_score)
average_math_score

'78.99'

In [12]:
# find district average reading score
average_reading_score = school_data_complete["reading_score"].mean()

average_reading_score = '{:,.2f}'.format(average_reading_score)
average_reading_score

'81.88'

In [13]:
# find disrtict passing math percentage
passing_math = (len(school_data_complete[school_data_complete["math_score"] >= 70]))/total_students
#passing_math_per = (len(school_data_complete[school_data_complete["math_score"] >= 70]))/total_students

passing_math_per= "{0:.2%}".format(passing_math)
passing_math_per

'74.98%'

In [14]:
# find district passing reading percentage
passing_reading = (len(school_data_complete[school_data_complete["reading_score"] >= 70]))/total_students
#passing_reading_per = (len(school_data_complete[school_data_complete["reading_score"] >= 70]))/total_students

passing_reading_per = "{0:.2%}".format(passing_reading)
passing_reading_per

'85.81%'

In [15]:
# find overall average of math and reading percentages
overall_passing_rate = (passing_math + passing_reading) / 2

overall_passing_rate_per = "{0:.2%}".format(overall_passing_rate)
overall_passing_rate_per

'80.39%'

In [16]:
# create district summary table
district_summary_df = pd.DataFrame({"Total Schools":[total_schools],
                                    "Total Students":[total_students],
                                    "Total Budget":[district_school_budget],
                                    "Average Math Score":[average_math_score],
                                    "Average Reading Score": [average_reading_score],
                                    "Passing Math":[passing_math_per],
                                    "Passing Reading":[passing_reading_per],
                                    "Overall Passing Rate":[overall_passing_rate_per]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,15,39170,$24649428,78.99,81.88,74.98%,85.81%,80.39%

**School Summary**

In [17]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [18]:
# pull school, type, size and budget to create school summary df
summary = school_data_complete.loc[:,["school_name","type","size","budget"]]
summary

              school_name      type  size   budget
0       Huang High School  District  2917  1910635
1       Huang High School  District  2917  1910635
2       Huang High School  District  2917  1910635
3       Huang High School  District  2917  1910635
4       Huang High School  District  2917  1910635
...                   ...       ...   ...      ...
39165  Thomas High School   Charter  1635  1043130
39166  Thomas High School   Charter  1635  1043130
39167  Thomas High School   Charter  1635  1043130
39168  Thomas High School   Charter  1635  1043130
39169  Thomas High School   Charter  1635  1043130

[39170 rows x 4 columns]

In [19]:
# drop budget column duplicates
summary = summary.drop_duplicates(subset=['budget'])
summary

                 school_name      type  size   budget
0          Huang High School  District  2917  1910635
2917    Figueroa High School  District  2949  1884411
5866     Shelton High School   Charter  1761  1056600
7627   Hernandez High School  District  4635  3022020
12262    Griffin High School   Charter  1468   917500
13730     Wilson High School   Charter  2283  1319574
16013    Cabrera High School   Charter  1858  1081356
17871     Bailey High School  District  4976  3124928
22847     Holden High School   Charter   427   248087
23274       Pena High School   Charter   962   585858
24236     Wright High School   Charter  1800  1049400
26036  Rodriguez High School  District  3999  2547363
30035    Johnson High School  District  4761  3094650
34796       Ford High School  District  2739  1763916
37535     Thomas High School   Charter  1635  1043130

In [20]:
# rename all columns
summary = summary.rename(columns={"school_name":"School Name", "type":"Type", "size":"Total Students", "budget":"Total School Budget"})
summary

                 School Name      Type  Total Students  Total School Budget
0          Huang High School  District            2917              1910635
2917    Figueroa High School  District            2949              1884411
5866     Shelton High School   Charter            1761              1056600
7627   Hernandez High School  District            4635              3022020
12262    Griffin High School   Charter            1468               917500
13730     Wilson High School   Charter            2283              1319574
16013    Cabrera High School   Charter            1858              1081356
17871     Bailey High School  District            4976              3124928
22847     Holden High School   Charter             427               248087
23274       Pena High School   Charter             962               585858
24236     Wright High School   Charter            1800              1049400
26036  Rodriguez High School  District            3999              2547363
30035    Johnson High School  District            4761              3094650
34796       Ford High School  District            2739              1763916
37535     Thomas High School   Charter            1635              1043130

In [21]:
summary.dtypes

School Name            object
Type                   object
Total Students          int64
Total School Budget     int64
dtype: object

In [22]:
# change school budget from object to float for work later
summary['Total School Budget'] = summary['Total School Budget'].astype(float)
summary.dtypes

School Name             object
Type                    object
Total Students           int64
Total School Budget    float64
dtype: object

In [23]:
summary = summary.set_index('School Name')
summary

                           Type  Total Students  Total School Budget
School Name
Huang High School      District            2917            1910635.0
Figueroa High School   District            2949            1884411.0
Shelton High School     Charter            1761            1056600.0
Hernandez High School  District            4635            3022020.0
Griffin High School     Charter            1468             917500.0
Wilson High School      Charter            2283            1319574.0
Cabrera High School     Charter            1858            1081356.0
Bailey High School     District            4976            3124928.0
Holden High School      Charter             427             248087.0
Pena High School        Charter             962             585858.0
Wright High School      Charter            1800            1049400.0
Rodriguez High School  District            3999            2547363.0
Johnson High School    District            4761            3094650.0
Ford High School       District            2739            1763916.0
Thomas High School      Charter            1635            1043130.0

In [24]:
#school_copy = school_data_complete[['school_name', 'type']].copy()
#school_copy

In [25]:
#school_copy = school_copy.drop_duplicates()
#school_copy

In [26]:
#school_data_complete.dtypes

In [27]:
#school_copy.dtypes

In [28]:
#alpha_school_data_complete = school_data_complete.sort("school_name")
#alpha_school_data_complete

In [29]:
#summary2 = pd.DataFrame({'School Name': school_data_complete['school_name'],
 #                        'Type' : school_data_complete['type']})
#summary2

In [30]:
#summary2 = summary2['Type'].unique()
#summary2

In [31]:
#summary2 = summary2.drop_duplicates()
#summary2

In [32]:
#summary = school_copy.rename(columns={"school_name":"School Name", "type":"Type"})
#summary

In [33]:
#summary = summary.set_index('School Name')
#summary

In [34]:
#total_students = school_data_complete.groupby(['school_name'])['size'].size()
#summary['Total Students'] = total_students
#summary.head()

In [35]:
#school_data_complete.dtypes

In [36]:
#school_data_complete.head()

In [37]:
#total_bud = school_data_complete.iloc[school_data_complete['budget'].unique()]
#total_bud

In [38]:
#total_school_budget = school_data_complete.groupby(['school_name'])['budget'].unique()
#total_school_budget
#summary["Total School Budget"] = total_school_budget
#summary["Total School Budget"] = [total_school_budget]
#summary

In [39]:
#total_school_budget2 = school_data_complete.groupby(['school_name'])['budget'].unique()
#total_school_budget2
#summary["Total School Budget"] = total_school_budget2
#summary

In [40]:
#bud_df = pd.DataFrame({"School": school_data_complete['school_name'],
 #                      "Budget": school_data_complete['budget']})
#bud_df = bud_df.drop_duplicates()
#bud_df['Budget'] = bud_df['Budget'].astype(int)
#summary["Total Budget"] = bud_df['Budget']
#summary

In [41]:
#bud_df.dtypes  ###### budget int32

In [42]:
#################format_mapping={'Per Student Budget': '${:,.2f}'}

In [43]:
#school_data_complete.dtypes

In [44]:
summary.head()

                           Type  Total Students  Total School Budget
School Name
Huang High School      District            2917            1910635.0
Figueroa High School   District            2949            1884411.0
Shelton High School     Charter            1761            1056600.0
Hernandez High School  District            4635            3022020.0
Griffin High School     Charter            1468             917500.0

In [45]:
#total_school_budget = school_data_complete.groupby(['school_name'])['budget'].unique()
#summary["Total School Budget"] = total_school_budget
#total_school_budget.head()

In [46]:
# calculations for per student budget
total_school_budget = summary['Total School Budget']
total_students = summary['Total Students']
per_student_budget = total_school_budget / total_students

In [47]:
# bring per student budget into summary
summary["Per Student Budget"] = (per_student_budget)
#school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format
summary.head()

,Type,Total Students,Total School Budget,Per Student Budget
School Name,,,,
Huang High School,District,2917,1910635.0,655.0
Figueroa High School,District,2949,1884411.0,639.0
Shelton High School,Charter,1761,1056600.0,600.0
Hernandez High School,District,4635,3022020.0,652.0
Griffin High School,Charter,1468,917500.0,625.0

In [48]:
# pull number of students in each school
student_counts = school_data_complete["school_name"].value_counts()
student_counts.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [49]:
# groupby math scores for each school
math_score = school_data_complete.groupby(['school_name'])['math_score'].sum()
math_score

school_name
Bailey High School       383393
Cabrera High School      154329
Figueroa High School     226223
Ford High School         211184
Griffin High School      122360
Hernandez High School    358238
Holden High School        35784
Huang High School        223528
Johnson High School      366942
Pena High School          80654
Rodriguez High School    307294
Shelton High School      146796
Thomas High School       136389
Wilson High School       190115
Wright High School       150628
Name: math_score, dtype: int64

In [50]:
# groupby reading scores for each school
reading_score = school_data_complete.groupby(['school_name'])['reading_score'].sum()
reading_score

school_name
Bailey High School       403225
Cabrera High School      156027
Figueroa High School     239335
Ford High School         221164
Griffin High School      123043
Hernandez High School    375131
Holden High School        35789
Huang High School        236810
Johnson High School      385481
Pena High School          80851
Rodriguez High School    322898
Shelton High School      147441
Thomas High School       137093
Wilson High School       191748
Wright High School       151119
Name: reading_score, dtype: int64

In [51]:
# create table to hold scores for calculations
score_table = pd.DataFrame({"Students in School": student_counts,
                            "Math Scores": math_score,
                            "Reading Scores": reading_score})
score_table.head()

                      Students in School  Math Scores  Reading Scores
Bailey High School                  4976       383393          403225
Cabrera High School                 1858       154329          156027
Figueroa High School                2949       226223          239335
Ford High School                    2739       211184          221164
Griffin High School                 1468       122360          123043

In [52]:
# create and calculating columns in table
summary['Average Math Score'] = score_table["Math Scores"]/score_table["Students in School"]
summary['Average Math Score'] = summary['Average Math Score'].map("{:,.2f}".format)
summary['Average Reading Score'] = score_table["Reading Scores"]/score_table["Students in School"]
summary['Average Reading Score'] = summary['Average Reading Score'].map("{:,.2f}".format)
summary.head()

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
School Name,,,,,,
Huang High School,District,2917,1910635.0,655.0,76.63,81.18
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82

In [53]:
# students passing math with score of 70 or greater
passing_math_70 = school_data_complete[school_data_complete["math_score"] >= 70]
passing_math_70.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [54]:
# group schools with student number passing math
passing_math = passing_math_70.groupby(['school_name'])['math_score'].size()
passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [55]:
# students passing reading with score of 70 or greater
passing_reading_70 = school_data_complete[school_data_complete["reading_score"] >= 70]
passing_reading_70.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [56]:
# group schools with school number passing reading
passing_reading = passing_reading_70.groupby(['school_name'])['reading_score'].size()
passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [57]:
# df for calculations for school summary
passing_df = pd.DataFrame({"Total Students":student_counts,
                           "Passing Math": passing_math,
                           "Passing Reading":passing_reading})
passing_df

                       Total Students  Passing Math  Passing Reading
Bailey High School               4976          3318             4077
Cabrera High School              1858          1749             1803
Figueroa High School             2949          1946             2381
Ford High School                 2739          1871             2172
Griffin High School              1468          1371             1426
Hernandez High School            4635          3094             3748
Holden High School                427           395              411
Huang High School                2917          1916             2372
Johnson High School              4761          3145             3867
Pena High School                  962           910              923
Rodriguez High School            3999          2654             3208
Shelton High School              1761          1653             1688
Thomas High School               1635          1525             1591
Wilson High School               2283          2143             2204
Wright High School               1800          1680             1739

In [58]:
percent_passing_math = passing_df['Passing Math'] / total_students
percent_passing_reading = passing_df['Passing Reading'] / total_students
percent_passing_math

Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [59]:
summary['Percent Passing Math'] = percent_passing_math * 100
summary['Percent Passing Reading'] = percent_passing_reading * 100
summary['Percent Passing Math'] = summary['Percent Passing Math'].map("{:,.2f}%".format)
summary['Percent Passing Reading'] = summary['Percent Passing Reading'].map("{:,.2f}%".format)
summary.head()

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading
School Name,,,,,,,,
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68%,81.32%
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99%,80.74%
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87%,95.85%
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75%,80.86%
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39%,97.14%

In [60]:
summary.dtypes

Type                        object
Total Students               int64
Total School Budget        float64
Per Student Budget         float64
Average Math Score          object
Average Reading Score       object
Percent Passing Math        object
Percent Passing Reading     object
dtype: object

In [61]:
summary["Total School Budget"] = summary["Total School Budget"].map("${:.2f}".format)
summary["Per Student Budget"] = summary["Per Student Budget"].map("${:.2f}".format)
summary.head()

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading
School Name,,,,,,,,
Huang High School,District,2917,$1910635.00,$655.00,76.63,81.18,65.68%,81.32%
Figueroa High School,District,2949,$1884411.00,$639.00,76.71,81.16,65.99%,80.74%
Shelton High School,Charter,1761,$1056600.00,$600.00,83.36,83.73,93.87%,95.85%
Hernandez High School,District,4635,$3022020.00,$652.00,77.29,80.93,66.75%,80.86%
Griffin High School,Charter,1468,$917500.00,$625.00,83.35,83.82,93.39%,97.14%

In [62]:
passing_df

                       Total Students  Passing Math  Passing Reading
Bailey High School               4976          3318             4077
Cabrera High School              1858          1749             1803
Figueroa High School             2949          1946             2381
Ford High School                 2739          1871             2172
Griffin High School              1468          1371             1426
Hernandez High School            4635          3094             3748
Holden High School                427           395              411
Huang High School                2917          1916             2372
Johnson High School              4761          3145             3867
Pena High School                  962           910              923
Rodriguez High School            3999          2654             3208
Shelton High School              1761          1653             1688
Thomas High School               1635          1525             1591
Wilson High School               2283          2143             2204
Wright High School               1800          1680             1739

In [63]:
# df for calculations for school summary
passing_df["Combined Passing"] = (passing_df["Passing Reading"] + passing_df["Passing Math"])/2
passing_df

,Total Students,Passing Math,Passing Reading,Combined Passing
Bailey High School,4976,3318,4077,3697.5
Cabrera High School,1858,1749,1803,1776.0
Figueroa High School,2949,1946,2381,2163.5
Ford High School,2739,1871,2172,2021.5
Griffin High School,1468,1371,1426,1398.5
Hernandez High School,4635,3094,3748,3421.0
Holden High School,427,395,411,403.0
Huang High School,2917,1916,2372,2144.0
Johnson High School,4761,3145,3867,3506.0
Pena High School,962,910,923,916.5
Rodriguez High School,3999,2654,3208,2931.0
Shelton High School,1761,1653,1688,1670.5
Thomas High School,1635,1525,1591,1558.0
Wilson High School,2283,2143,2204,2173.5
Wright High School,1800,1680,1739,1709.5

In [64]:
# calculate overall passing percent
passing_df["Overall Passing"] = passing_df["Combined Passing"] / passing_df["Total Students"] 
passing_df

,Total Students,Passing Math,Passing Reading,Combined Passing,Overall Passing
Bailey High School,4976,3318,4077,3697.5,0.743067
Cabrera High School,1858,1749,1803,1776.0,0.955867
Figueroa High School,2949,1946,2381,2163.5,0.733639
Ford High School,2739,1871,2172,2021.5,0.738043
Griffin High School,1468,1371,1426,1398.5,0.952657
Hernandez High School,4635,3094,3748,3421.0,0.738080
Holden High School,427,395,411,403.0,0.943794
Huang High School,2917,1916,2372,2144.0,0.735002
Johnson High School,4761,3145,3867,3506.0,0.736400
Pena High School,962,910,923,916.5,0.952703
Rodriguez High School,3999,2654,3208,2931.0,0.732933
Shelton High School,1761,1653,1688,1670.5,0.948609
Thomas High School,1635,1525,1591,1558.0,0.952905
Wilson High School,2283,2143,2204,2173.5,0.952037
Wright High School,1800,1680,1739,1709.5,0.949722

In [65]:
# find overall percent of math and reading percentages
district_overall_passing = passing_df["Overall Passing"]
summary["Combined Overall Passing Percent"] = district_overall_passing *100
summary["Combined Overall Passing Percent"] = summary["Combined Overall Passing Percent"].map("{:.2f}%".format)
summary

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Combined Overall Passing Percent
School Name,,,,,,,,,
Huang High School,District,2917,$1910635.00,$655.00,76.63,81.18,65.68%,81.32%,73.50%
Figueroa High School,District,2949,$1884411.00,$639.00,76.71,81.16,65.99%,80.74%,73.36%
Shelton High School,Charter,1761,$1056600.00,$600.00,83.36,83.73,93.87%,95.85%,94.86%
Hernandez High School,District,4635,$3022020.00,$652.00,77.29,80.93,66.75%,80.86%,73.81%
Griffin High School,Charter,1468,$917500.00,$625.00,83.35,83.82,93.39%,97.14%,95.27%
Wilson High School,Charter,2283,$1319574.00,$578.00,83.27,83.99,93.87%,96.54%,95.20%
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.06,83.98,94.13%,97.04%,95.59%
Bailey High School,District,4976,$3124928.00,$628.00,77.05,81.03,66.68%,81.93%,74.31%
Holden High School,Charter,427,$248087.00,$581.00,83.80,83.81,92.51%,96.25%,94.38%
Pena High School,Charter,962,$585858.00,$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wright High School,Charter,1800,$1049400.00,$583.00,83.68,83.95,93.33%,96.61%,94.97%
Rodriguez High School,District,3999,$2547363.00,$637.00,76.84,80.74,66.37%,80.22%,73.29%
Johnson High School,District,4761,$3094650.00,$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,2739,$1763916.00,$644.00,77.10,80.75,68.31%,79.30%,73.80%
Thomas High School,Charter,1635,$1043130.00,$638.00,83.42,83.85,93.27%,97.31%,95.29%

In [66]:
# sort for top 5 schools based on overall passing percent
summary_sort_top5 = summary.sort_values(["Combined Overall Passing Percent"], ascending = False)
summary_sort_top5.head(5)

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Combined Overall Passing Percent
School Name,,,,,,,,,
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,1635,$1043130.00,$638.00,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,Charter,1468,$917500.00,$625.00,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962,$585858.00,$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,Charter,2283,$1319574.00,$578.00,83.27,83.99,93.87%,96.54%,95.20%

In [67]:
# sort for bottom 5 schools based on overall passing percent
summary_sort_bottom5 = summary.sort_values(["Combined Overall Passing Percent"])
summary_sort_bottom5.head(5)

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Combined Overall Passing Percent
School Name,,,,,,,,,
Rodriguez High School,District,3999,$2547363.00,$637.00,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,2949,$1884411.00,$639.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,2917,$1910635.00,$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,4761,$3094650.00,$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,2739,$1763916.00,$644.00,77.10,80.75,68.31%,79.30%,73.80%

In [68]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [69]:
# Rename school column
school_data_complete = school_data_complete.rename(columns={"school_name":"School Name"})
school_data_complete

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [70]:
# sort out grade 9
grade9 = school_data_complete.loc[school_data_complete["grade"] == "9th", :]
grade9.head()

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635

In [71]:
# sum math score for grade 9
gr9cum_math = grade9.groupby('School Name')['math_score'].sum()
gr9cum_math.head()

School Name
Bailey High School      112388
Cabrera High School      43874
Figueroa High School     65401
Ford High School         64442
Griffin High School      33556
Name: math_score, dtype: int64

In [72]:
# sum reading score for grade 9
gr9cum_read = grade9.groupby('School Name')['reading_score'].sum()
gr9cum_read.head()

School Name
Bailey High School      118540
Cabrera High School      44181
Figueroa High School     69506
Ford High School         67167
Griffin High School      34098
Name: reading_score, dtype: int64

In [73]:
# gather grade class sizes for grade 9
gr9tot_stu = grade9.groupby('School Name').size()
gr9tot_stu.head()

School Name
Bailey High School      1458
Cabrera High School      528
Figueroa High School     856
Ford High School         833
Griffin High School      409
dtype: int64

In [74]:
# sort out grade 10
grade10 = school_data_complete.loc[school_data_complete["grade"] == "10th", :]
grade10.head()

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,type,size,budget
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635

In [75]:
# sum math score for grade 10
gr10cum_math = grade10.groupby('School Name')['math_score'].sum()
gr10cum_math.head()

School Name
Bailey High School      95399
Cabrera High School     38750
Figueroa High School    58400
Ford High School        54992
Griffin High School     34197
Name: math_score, dtype: int64

In [76]:
# sum reading score for grade 10
gr10cum_read = grade10.groupby('School Name')['reading_score'].sum()
gr10cum_read.head()

School Name
Bailey High School      100244
Cabrera High School      39262
Figueroa High School     62115
Ford High School         57534
Griffin High School      33985
Name: reading_score, dtype: int64

In [77]:
# gather grade class sizes for grade 10
gr10tot_stu = grade10.groupby('School Name').size()
gr10tot_stu.head()

School Name
Bailey High School      1239
Cabrera High School      466
Figueroa High School     763
Ford High School         708
Griffin High School      406
dtype: int64

In [78]:
# sort out grade 11
grade11 = school_data_complete.loc[school_data_complete["grade"] == "11th", :]
grade11.head()

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,type,size,budget
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635

In [79]:
# sum math score for grade 11
gr11cum_math = grade11.groupby('School Name')['math_score'].sum()
gr11cum_math.head()

School Name
Bailey High School      96972
Cabrera High School     39893
Figueroa High School    54511
Ford High School        50689
Griffin High School     30267
Name: math_score, dtype: int64

In [80]:
# sum reading score for grade 11
gr11cum_read = grade11.groupby('School Name')['reading_score'].sum()
gr11cum_read.head()

School Name
Bailey High School      101263
Cabrera High School      40386
Figueroa High School     57174
Ford High School         52986
Griffin High School      30428
Name: reading_score, dtype: int64

In [81]:
# gather grade class sizes for grade 11
gr11tot_stu = grade11.groupby('School Name').size()
gr11tot_stu.head()

School Name
Bailey High School      1251
Cabrera High School      482
Figueroa High School     709
Ford High School         659
Griffin High School      361
dtype: int64

In [82]:
# sort out grade 12
grade12 = school_data_complete.loc[school_data_complete["grade"] == "12th", :]
grade12.head()

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635

In [83]:
# sum math score for grade 12
gr12cum_math = grade12.groupby('School Name')['math_score'].sum()
gr12cum_math.head()

School Name
Bailey High School      78634
Cabrera High School     31812
Figueroa High School    47911
Ford High School        41061
Griffin High School     24340
Name: math_score, dtype: int64

In [84]:
# sum reading score for grade 12
gr12cum_read = grade12.groupby('School Name')['reading_score'].sum()
gr12cum_read.head()

School Name
Bailey High School      83178
Cabrera High School     32198
Figueroa High School    50540
Ford High School        43477
Griffin High School     24532
Name: reading_score, dtype: int64

In [85]:
# gather grade class sizes for grade 12
gr12tot_stu = grade12.groupby('School Name').size()
gr12tot_stu.head()

School Name
Bailey High School      1028
Cabrera High School      382
Figueroa High School     621
Ford High School         539
Griffin High School      292
dtype: int64

In [86]:
grade9math = gr9cum_math/gr9tot_stu
grade10math = gr10cum_math/gr10tot_stu
grade11math = gr11cum_math/gr11tot_stu
grade12math = gr12cum_math/gr11tot_stu

In [87]:
grade9math = grade9math.map
grade10math = gr10cum_math/gr10tot_stu
grade11math = gr11cum_math/gr11tot_stu
grade12math = gr12cum_math/gr11tot_stu
# summary["Combined Overall Passing Percent"].map("{:.2f}%".format)

In [88]:
# calculate math scores for each grade
math_scores = pd.DataFrame({"9th": gr9cum_math/gr9tot_stu,
                           "10th": gr10cum_math/gr10tot_stu,
                           "11th": gr11cum_math/gr11tot_stu,
                           "12th": gr12cum_math/gr11tot_stu})
math_scores

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  62.856914
Cabrera High School    83.094697  83.154506  82.765560  66.000000
Figueroa High School   76.403037  76.539974  76.884344  67.575458
Ford High School       77.361345  77.672316  76.918058  62.308042
Griffin High School    82.044010  84.229064  83.842105  67.423823
Hernandez High School  77.438495  77.337408  77.136029  66.545037
Holden High School     83.787402  83.429825  85.000000  66.766990
Huang High School      77.027251  75.908735  76.446602  62.658807
Johnson High School    77.187857  76.691117  77.491653  60.053422
Pena High School       83.625455  83.372000  84.328125  59.476562
Rodriguez High School  76.859966  76.612500  76.395626  60.932406
Shelton High School    83.420755  82.917411  83.383495  75.441748
Thomas High School     83.590022  83.087886  83.498795  68.004819
Wilson High School     83.085578  83.724422  83.195326  61.964942
Wright High School     83.264706  84.010288  83.836782  70.954023

In [89]:
math_scores.dtypes

9th     float64
10th    float64
11th    float64
12th    float64
dtype: object

In [90]:
#math_scores["9th"] = math_scores["9th"].map("{:.2f}%".format)
#math_scores["10th"] = math_scores["10th"].map("{:.2f}%".format)

#math_scores["11th"] = math_scores["11th"].map("{:.2f}%".format)
#math_scores["12th"] = math_scores["12th"].map("{:.2f}%".format)
math_scores

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  62.856914
Cabrera High School    83.094697  83.154506  82.765560  66.000000
Figueroa High School   76.403037  76.539974  76.884344  67.575458
Ford High School       77.361345  77.672316  76.918058  62.308042
Griffin High School    82.044010  84.229064  83.842105  67.423823
Hernandez High School  77.438495  77.337408  77.136029  66.545037
Holden High School     83.787402  83.429825  85.000000  66.766990
Huang High School      77.027251  75.908735  76.446602  62.658807
Johnson High School    77.187857  76.691117  77.491653  60.053422
Pena High School       83.625455  83.372000  84.328125  59.476562
Rodriguez High School  76.859966  76.612500  76.395626  60.932406
Shelton High School    83.420755  82.917411  83.383495  75.441748
Thomas High School     83.590022  83.087886  83.498795  68.004819
Wilson High School     83.085578  83.724422  83.195326  61.964942
Wright High School     83.264706  84.010288  83.836782  70.954023

In [91]:
# calculate reading scores for each grade
read_scores = pd.DataFrame({"9th": gr9cum_read/gr9tot_stu,
                           "10th": gr10cum_read/gr10tot_stu,
                           "11th": gr11cum_read/gr11tot_stu,
                           "12th": gr12cum_read/gr12tot_stu})
read_scores
# summary["Combined Overall Passing Percent"].map("{:.2f}%".format)

                             9th       10th       11th       12th
School Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [92]:
summary.head()

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Combined Overall Passing Percent
School Name,,,,,,,,,
Huang High School,District,2917,$1910635.00,$655.00,76.63,81.18,65.68%,81.32%,73.50%
Figueroa High School,District,2949,$1884411.00,$639.00,76.71,81.16,65.99%,80.74%,73.36%
Shelton High School,Charter,1761,$1056600.00,$600.00,83.36,83.73,93.87%,95.85%,94.86%
Hernandez High School,District,4635,$3022020.00,$652.00,77.29,80.93,66.75%,80.86%,73.81%
Griffin High School,Charter,1468,$917500.00,$625.00,83.35,83.82,93.39%,97.14%,95.27%

In [93]:
spending_ranges = summary.drop(columns=["Type","Total Students", "Total School Budget"])
spending_ranges.head()
# "Type","Total Budget", "Total School Budget"

,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Combined Overall Passing Percent
School Name,,,,,,
Huang High School,$655.00,76.63,81.18,65.68%,81.32%,73.50%
Figueroa High School,$639.00,76.71,81.16,65.99%,80.74%,73.36%
Shelton High School,$600.00,83.36,83.73,93.87%,95.85%,94.86%
Hernandez High School,$652.00,77.29,80.93,66.75%,80.86%,73.81%
Griffin High School,$625.00,83.35,83.82,93.39%,97.14%,95.27%

In [94]:
#spending_ranges = spending_ranges.drop(columns=["Average Math Score", "Average Reading Score"])
#spending_ranges

In [99]:
spending_ranges.dtypes

Per Student Budget                  object
Average Math Score                  object
Average Reading Score               object
Percent Passing Math                object
Percent Passing Reading             object
Combined Overall Passing Percent    object
dtype: object

In [104]:
#spending_ranges["Per Student Budget"] = spending_ranges["Per Student Budget"].astype(float)

In [105]:
bins = [0,585,615,645,675]
group_names = ["Greater than $585", "$585-615", "$615-645", "$645-675"]

In [106]:
spending_ranges["Spend Ranges (Per Student)"] = pd.cut(spending_ranges["Per Student Budget"], bins, labels=group_names)
spending_ranges.head()

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
spending_ranges.dtypes

In [ ]:
spend585 = spending_ranges.loc[spending_ranges["Spend Ranges (Per Student)"] == "<$585"]
spend585

In [ ]:
#spending_585_cum_avg = spend585[["Percent Passing Math", "Percent Passing Reading", "Combined Overall Passing Percent"]].iloc[[1,2,3,4]].mean(axis=0)
#spending_585-cum-avg

In [ ]:
spending_585_avgs = spend585.iloc[:,[1,2,3]].mean(axis=0)
spending_585_avgs

In [ ]:
spending_summary = pd.DataFrame({"Spend Ranges (Per Student)":"",
                        "Percent Passing Math":[spending_585_avgs["Percent Passing Math"]]})
spending_summary

In [ ]:
spending_ranges = spending_ranges.groupby("Spend Ranges (Per Student)")
spending_ranges.head()

In [ ]:
spending_ranges = spending_ranges.groupby(["Spend Ranges (Per Student)", "Percent Passing Math"]).mean()
spending_ranges

In [ ]:
spend585.dtypes

In [ ]:
spend_per_math = spend585["Percent Passing Math"].mean()
spend_per_math

In [ ]:
spend_per_read = spend585["Percent Passing Reading"].mean()
spend_per_read

In [ ]:
spend_per_overall = spend585["Combined Overall Passing Percent"].mean()
spend_per_overall

In [ ]:
spending_ranges = spending_ranges.loc(["Spending Ranges (Per Student)", "Average Math Score"]).mean()
spending_ranges

In [ ]:
spending_ranges = spending_ranges.set_index('Spending Ranges (Per Student)', inplace=True, drop=True)
spending_ranges

In [ ]:
spending_ranges["Spending Ranges (Per Student)"] = pd