In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# show start of df
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# show end of df
school_data_complete.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [4]:
#school_data_complete['school_name'] = school_data_complete['school_name'].astype('|S80')

In [5]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [6]:
school_data_complete.describe

<bound method NDFrame.describe of        Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]>

In [7]:
# check for incomplete columns
count = school_data_complete.count()
count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [8]:
# find count of schools
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [9]:
# find total count of students

total_students = school_data_complete["student_name"].count()
total_students

39170

In [10]:
# find district budget
district_school_budget = school_data_complete["budget"].unique()
pd.to_numeric(district_school_budget)
district_school_budget = np.sum(district_school_budget)
district_school_budget = "${:.0f}".format(district_school_budget)

district_school_budget

'$24649428'

In [11]:
# find district average math score
average_math_score = school_data_complete["math_score"].mean()

average_math_score = '{:,.2f}'.format(average_math_score)
average_math_score

'78.99'

In [12]:
# find district average reading score
average_reading_score = school_data_complete["reading_score"].mean()

average_reading_score = '{:,.2f}'.format(average_reading_score)
average_reading_score

'81.88'

In [13]:
# find disrtict passing math percentage
passing_math = (len(school_data_complete[school_data_complete["math_score"] >= 70]))/total_students
#passing_math_per = (len(school_data_complete[school_data_complete["math_score"] >= 70]))/total_students

passing_math_per= "{0:.2%}".format(passing_math)
passing_math_per

'74.98%'

In [14]:
# find district passing reading percentage
passing_reading = (len(school_data_complete[school_data_complete["reading_score"] >= 70]))/total_students
#passing_reading_per = (len(school_data_complete[school_data_complete["reading_score"] >= 70]))/total_students

passing_reading_per = "{0:.2%}".format(passing_reading)
passing_reading_per

'85.81%'

In [15]:
# find overall average of math and reading percentages
overall_passing_rate = (passing_math + passing_reading) / 2

overall_passing_rate_per = "{0:.2%}".format(overall_passing_rate)
overall_passing_rate_per

'80.39%'

In [16]:
# create district summary table
district_summary_df = pd.DataFrame({"Total Schools":[total_schools],
                                    "Total Students":[total_students],
                                    "Total Budget":[district_school_budget],
                                    "Average Math Score":[average_math_score],
                                    "Average Reading Score": [average_reading_score],
                                    "Passing Math":[passing_math_per],
                                    "Passing Reading":[passing_reading_per],
                                    "Overall Passing Rate":[overall_passing_rate_per]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,15,39170,$24649428,78.99,81.88,74.98%,85.81%,80.39%

In [17]:
school_copy = school_data_complete[['school_name', 'type']].copy()
school_copy

              school_name      type
0       Huang High School  District
1       Huang High School  District
2       Huang High School  District
3       Huang High School  District
4       Huang High School  District
...                   ...       ...
39165  Thomas High School   Charter
39166  Thomas High School   Charter
39167  Thomas High School   Charter
39168  Thomas High School   Charter
39169  Thomas High School   Charter

[39170 rows x 2 columns]

In [18]:
school_copy = school_copy.drop_duplicates()
school_copy

                 school_name      type
0          Huang High School  District
2917    Figueroa High School  District
5866     Shelton High School   Charter
7627   Hernandez High School  District
12262    Griffin High School   Charter
13730     Wilson High School   Charter
16013    Cabrera High School   Charter
17871     Bailey High School  District
22847     Holden High School   Charter
23274       Pena High School   Charter
24236     Wright High School   Charter
26036  Rodriguez High School  District
30035    Johnson High School  District
34796       Ford High School  District
37535     Thomas High School   Charter

In [19]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [20]:
school_copy.dtypes

school_name    object
type           object
dtype: object

In [21]:
#alpha_school_data_complete = school_data_complete.sort("school_name")
#alpha_school_data_complete

In [22]:
#summary2 = pd.DataFrame({'School Name': school_data_complete['school_name'],
 #                        'Type' : school_data_complete['type']})
#summary2

In [23]:
#summary2 = summary2['Type'].unique()
#summary2

In [24]:
#summary2 = summary2.drop_duplicates()
#summary2

In [25]:
summary = school_copy.rename(columns={"school_name":"School Name", "type":"Type"})
summary

                 School Name      Type
0          Huang High School  District
2917    Figueroa High School  District
5866     Shelton High School   Charter
7627   Hernandez High School  District
12262    Griffin High School   Charter
13730     Wilson High School   Charter
16013    Cabrera High School   Charter
17871     Bailey High School  District
22847     Holden High School   Charter
23274       Pena High School   Charter
24236     Wright High School   Charter
26036  Rodriguez High School  District
30035    Johnson High School  District
34796       Ford High School  District
37535     Thomas High School   Charter

In [26]:
summary = summary.set_index('School Name')
summary

                           Type
School Name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [27]:
total_students = school_data_complete.groupby(['school_name'])['size'].size()
summary['Total Students'] = total_students
summary.head()

                           Type  Total Students
School Name
Huang High School      District            2917
Figueroa High School   District            2949
Shelton High School     Charter            1761
Hernandez High School  District            4635
Griffin High School     Charter            1468

In [28]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [29]:
#total_bud = school_data_complete.loc[school_data_complete['budget'].unique()]
#total_bud

In [30]:
total_school_budget = school_data_complete.groupby(['school_name'])['budget'].unique()
total_school_budget
summary["Total School Budget"] = total_school_budget
summary

                           Type  Total Students Total School Budget
School Name
Huang High School      District            2917           [1910635]
Figueroa High School   District            2949           [1884411]
Shelton High School     Charter            1761           [1056600]
Hernandez High School  District            4635           [3022020]
Griffin High School     Charter            1468            [917500]
Wilson High School      Charter            2283           [1319574]
Cabrera High School     Charter            1858           [1081356]
Bailey High School     District            4976           [3124928]
Holden High School      Charter             427            [248087]
Pena High School        Charter             962            [585858]
Wright High School      Charter            1800           [1049400]
Rodriguez High School  District            3999           [2547363]
Johnson High School    District            4761           [3094650]
Ford High School       District            2739           [1763916]
Thomas High School      Charter            1635           [1043130]

In [31]:
bud_df = pd.DataFrame({"School": school_data_complete['school_name'],
                       "Budget": school_data_complete['budget']})
bud_df = bud_df.drop_duplicates()
bud_df['Budget'] = bud_df['Budget'].astype(int)
#summary["Total Budget"] = bud_df['Budget']
#summary

In [32]:
bud_df.dtypes  ###### budget int32

School    object
Budget     int32
dtype: object

In [33]:
#summary["Total Budget"] = bud_df['Budget']
#summary

In [34]:
summary.dtypes  ######  budget object

Type                   object
Total Students          int64
Total School Budget    object
dtype: object

In [35]:
#################format_mapping={'Per Student Budget': '${:,.2f}'}

In [36]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [37]:
total_school_budget = school_data_complete.groupby(['school_name'])['budget'].unique()
summary["Total School Budget"] = total_school_budget
total_school_budget.head()

school_name
Bailey High School      [3124928]
Cabrera High School     [1081356]
Figueroa High School    [1884411]
Ford High School        [1763916]
Griffin High School      [917500]
Name: budget, dtype: object

In [38]:
per_student_budget = total_school_budget / total_students
summary["Per Student Budget"] = (per_student_budget)
#school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format
summary.head()
# -----------------map("${:,.2f}".format.

,Type,Total Students,Total School Budget,Per Student Budget
School Name,,,,
Huang High School,District,2917,[1910635],[655.0]
Figueroa High School,District,2949,[1884411],[639.0]
Shelton High School,Charter,1761,[1056600],[600.0]
Hernandez High School,District,4635,[3022020],[652.0]
Griffin High School,Charter,1468,[917500],[625.0]

In [39]:
# pull number of students in each school
student_counts = school_data_complete["school_name"].value_counts()
student_counts.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [40]:
# groupby math scores for each school
math_score = school_data_complete.groupby(['school_name'])['math_score'].sum()
math_score

school_name
Bailey High School       383393
Cabrera High School      154329
Figueroa High School     226223
Ford High School         211184
Griffin High School      122360
Hernandez High School    358238
Holden High School        35784
Huang High School        223528
Johnson High School      366942
Pena High School          80654
Rodriguez High School    307294
Shelton High School      146796
Thomas High School       136389
Wilson High School       190115
Wright High School       150628
Name: math_score, dtype: int64

In [41]:
# groupby reading scores for each school
reading_score = school_data_complete.groupby(['school_name'])['reading_score'].sum()
reading_score

school_name
Bailey High School       403225
Cabrera High School      156027
Figueroa High School     239335
Ford High School         221164
Griffin High School      123043
Hernandez High School    375131
Holden High School        35789
Huang High School        236810
Johnson High School      385481
Pena High School          80851
Rodriguez High School    322898
Shelton High School      147441
Thomas High School       137093
Wilson High School       191748
Wright High School       151119
Name: reading_score, dtype: int64

In [42]:
# create table to hold scores for calculations
score_table = pd.DataFrame({"Students in School": student_counts,
                            "Math Scores": math_score,
                            "Reading Scores": reading_score})
score_table.head()

                      Students in School  Math Scores  Reading Scores
Bailey High School                  4976       383393          403225
Cabrera High School                 1858       154329          156027
Figueroa High School                2949       226223          239335
Ford High School                    2739       211184          221164
Griffin High School                 1468       122360          123043

In [43]:
# create and calculating columns in table
summary['Average Math Score'] = score_table["Math Scores"]/score_table["Students in School"]
summary['Average Math Score'] = summary['Average Math Score'].map("{:,.2f}".format)
summary['Average Reading Score'] = score_table["Reading Scores"]/score_table["Students in School"]
summary['Average Reading Score'] = summary['Average Reading Score'].map("{:,.2f}".format)
summary.head()

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
School Name,,,,,,
Huang High School,District,2917,[1910635],[655.0],76.63,81.18
Figueroa High School,District,2949,[1884411],[639.0],76.71,81.16
Shelton High School,Charter,1761,[1056600],[600.0],83.36,83.73
Hernandez High School,District,4635,[3022020],[652.0],77.29,80.93
Griffin High School,Charter,1468,[917500],[625.0],83.35,83.82

In [44]:
# students passing math with score of 70 or greater
passing_math_70 = school_data_complete[school_data_complete["math_score"] >= 70]
passing_math_70.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [45]:
# group schools with student number passing math
passing_math = passing_math_70.groupby(['school_name'])['math_score'].size()
passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [46]:
# students passing reading with score of 70 or greater
passing_reading_70 = school_data_complete[school_data_complete["reading_score"] >= 70]
passing_reading_70.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [47]:
# group schools with school number passing reading
passing_reading = passing_reading_70.groupby(['school_name'])['reading_score'].size()
passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [48]:
# df for calculations for school summary
passing_df = pd.DataFrame({"Total Students":student_counts,
                           "Passing Math": passing_math,
                           "Passing Reading":passing_reading})
passing_df

                       Total Students  Passing Math  Passing Reading
Bailey High School               4976          3318             4077
Cabrera High School              1858          1749             1803
Figueroa High School             2949          1946             2381
Ford High School                 2739          1871             2172
Griffin High School              1468          1371             1426
Hernandez High School            4635          3094             3748
Holden High School                427           395              411
Huang High School                2917          1916             2372
Johnson High School              4761          3145             3867
Pena High School                  962           910              923
Rodriguez High School            3999          2654             3208
Shelton High School              1761          1653             1688
Thomas High School               1635          1525             1591
Wilson High School               2283          2143             2204
Wright High School               1800          1680             1739

In [49]:
percent_passing_math = passing_df['Passing Math'] / total_students
percent_passing_reading = passing_df['Passing Reading'] / total_students
percent_passing_math

Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [50]:
summary['Percent Passing Math'] = percent_passing_math * 100
summary['Percent Passing Reading'] = percent_passing_reading * 100
summary

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading
School Name,,,,,,,,
Huang High School,District,2917,[1910635],[655.0],76.63,81.18,65.683922,81.316421
Figueroa High School,District,2949,[1884411],[639.0],76.71,81.16,65.988471,80.739234
Shelton High School,Charter,1761,[1056600],[600.0],83.36,83.73,93.867121,95.854628
Hernandez High School,District,4635,[3022020],[652.0],77.29,80.93,66.752967,80.862999
Griffin High School,Charter,1468,[917500],[625.0],83.35,83.82,93.392371,97.138965
Wilson High School,Charter,2283,[1319574],[578.0],83.27,83.99,93.867718,96.539641
Cabrera High School,Charter,1858,[1081356],[582.0],83.06,83.98,94.133477,97.039828
Bailey High School,District,4976,[3124928],[628.0],77.05,81.03,66.680064,81.933280
Holden High School,Charter,427,[248087],[581.0],83.80,83.81,92.505855,96.252927
Pena High School,Charter,962,[585858],[609.0],83.84,84.04,94.594595,95.945946
Wright High School,Charter,1800,[1049400],[583.0],83.68,83.95,93.333333,96.611111
Rodriguez High School,District,3999,[2547363],[637.0],76.84,80.74,66.366592,80.220055
Johnson High School,District,4761,[3094650],[650.0],77.07,80.97,66.057551,81.222432
Ford High School,District,2739,[1763916],[644.0],77.10,80.75,68.309602,79.299014
Thomas High School,Charter,1635,[1043130],[638.0],83.42,83.85,93.272171,97.308869

In [51]:
passing_df

                       Total Students  Passing Math  Passing Reading
Bailey High School               4976          3318             4077
Cabrera High School              1858          1749             1803
Figueroa High School             2949          1946             2381
Ford High School                 2739          1871             2172
Griffin High School              1468          1371             1426
Hernandez High School            4635          3094             3748
Holden High School                427           395              411
Huang High School                2917          1916             2372
Johnson High School              4761          3145             3867
Pena High School                  962           910              923
Rodriguez High School            3999          2654             3208
Shelton High School              1761          1653             1688
Thomas High School               1635          1525             1591
Wilson High School               2283          2143             2204
Wright High School               1800          1680             1739

In [52]:
# df for calculations for school summary
passing_df["Combined Passing"] = (passing_df["Passing Reading"] + passing_df["Passing Math"])/2
passing_df

,Total Students,Passing Math,Passing Reading,Combined Passing
Bailey High School,4976,3318,4077,3697.5
Cabrera High School,1858,1749,1803,1776.0
Figueroa High School,2949,1946,2381,2163.5
Ford High School,2739,1871,2172,2021.5
Griffin High School,1468,1371,1426,1398.5
Hernandez High School,4635,3094,3748,3421.0
Holden High School,427,395,411,403.0
Huang High School,2917,1916,2372,2144.0
Johnson High School,4761,3145,3867,3506.0
Pena High School,962,910,923,916.5
Rodriguez High School,3999,2654,3208,2931.0
Shelton High School,1761,1653,1688,1670.5
Thomas High School,1635,1525,1591,1558.0
Wilson High School,2283,2143,2204,2173.5
Wright High School,1800,1680,1739,1709.5

In [57]:
passing_df["Overall Passing"] = passing_df["Combined Passing"] / passing_df["Total Students"] 
passing_df

,Total Students,Passing Math,Passing Reading,Combined Passing,Overall Passing
Bailey High School,4976,3318,4077,3697.5,0.743067
Cabrera High School,1858,1749,1803,1776.0,0.955867
Figueroa High School,2949,1946,2381,2163.5,0.733639
Ford High School,2739,1871,2172,2021.5,0.738043
Griffin High School,1468,1371,1426,1398.5,0.952657
Hernandez High School,4635,3094,3748,3421.0,0.738080
Holden High School,427,395,411,403.0,0.943794
Huang High School,2917,1916,2372,2144.0,0.735002
Johnson High School,4761,3145,3867,3506.0,0.736400
Pena High School,962,910,923,916.5,0.952703
Rodriguez High School,3999,2654,3208,2931.0,0.732933
Shelton High School,1761,1653,1688,1670.5,0.948609
Thomas High School,1635,1525,1591,1558.0,0.952905
Wilson High School,2283,2143,2204,2173.5,0.952037
Wright High School,1800,1680,1739,1709.5,0.949722

In [58]:
# find overall percent of math and reading percentages
district_overall_passing = passing_df["Overall Passing"]
summary["Combined Overall Passing Percent"] = district_overall_passing *100
summary

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Combined Overall Passing Percent
School Name,,,,,,,,,
Huang High School,District,2917,[1910635],[655.0],76.63,81.18,65.683922,81.316421,73.500171
Figueroa High School,District,2949,[1884411],[639.0],76.71,81.16,65.988471,80.739234,73.363852
Shelton High School,Charter,1761,[1056600],[600.0],83.36,83.73,93.867121,95.854628,94.860875
Hernandez High School,District,4635,[3022020],[652.0],77.29,80.93,66.752967,80.862999,73.807983
Griffin High School,Charter,1468,[917500],[625.0],83.35,83.82,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,[1319574],[578.0],83.27,83.99,93.867718,96.539641,95.203679
Cabrera High School,Charter,1858,[1081356],[582.0],83.06,83.98,94.133477,97.039828,95.586652
Bailey High School,District,4976,[3124928],[628.0],77.05,81.03,66.680064,81.933280,74.306672
Holden High School,Charter,427,[248087],[581.0],83.80,83.81,92.505855,96.252927,94.379391
Pena High School,Charter,962,[585858],[609.0],83.84,84.04,94.594595,95.945946,95.270270
Wright High School,Charter,1800,[1049400],[583.0],83.68,83.95,93.333333,96.611111,94.972222
Rodriguez High School,District,3999,[2547363],[637.0],76.84,80.74,66.366592,80.220055,73.293323
Johnson High School,District,4761,[3094650],[650.0],77.07,80.97,66.057551,81.222432,73.639992
Ford High School,District,2739,[1763916],[644.0],77.10,80.75,68.309602,79.299014,73.804308
Thomas High School,Charter,1635,[1043130],[638.0],83.42,83.85,93.272171,97.308869,95.290520

In [66]:
summary_sort_top5 = summary.sort_values(["Combined Overall Passing Percent"], ascending = False)
summary_sort_top5.head(5)

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Combined Overall Passing Percent
School Name,,,,,,,,,
Cabrera High School,Charter,1858,[1081356],[582.0],83.06,83.98,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,[1043130],[638.0],83.42,83.85,93.272171,97.308869,95.290520
Pena High School,Charter,962,[585858],[609.0],83.84,84.04,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,[917500],[625.0],83.35,83.82,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,[1319574],[578.0],83.27,83.99,93.867718,96.539641,95.203679

In [60]:
summary_sort_bottom5 = summary.sort_values(["Combined Overall Passing Percent"])
summary_sort_bottom5.head(5)

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Combined Overall Passing Percent
School Name,,,,,,,,,
Rodriguez High School,District,3999,[2547363],[637.0],76.84,80.74,66.366592,80.220055,73.293323
Figueroa High School,District,2949,[1884411],[639.0],76.71,81.16,65.988471,80.739234,73.363852
Huang High School,District,2917,[1910635],[655.0],76.63,81.18,65.683922,81.316421,73.500171
Johnson High School,District,4761,[3094650],[650.0],77.07,80.97,66.057551,81.222432,73.639992
Ford High School,District,2739,[1763916],[644.0],77.10,80.75,68.309602,79.299014,73.804308